<a href="https://colab.research.google.com/github/ramkrushna26/spark/blob/main/spark_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=d51a0447592417196ecd882222e3ab7c7877a3a0ccafe197e56ecf032bb3cc73
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [9]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [10]:
dfg = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/data/student-scores.csv', header=True)

In [11]:
dfg.printSchema()

root
 |-- id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- part_time_job: string (nullable = true)
 |-- absence_days: string (nullable = true)
 |-- extracurricular_activities: string (nullable = true)
 |-- weekly_self_study_hours: string (nullable = true)
 |-- career_aspiration: string (nullable = true)
 |-- math_score: string (nullable = true)
 |-- history_score: string (nullable = true)
 |-- physics_score: string (nullable = true)
 |-- chemistry_score: string (nullable = true)
 |-- biology_score: string (nullable = true)
 |-- english_score: string (nullable = true)
 |-- geography_score: string (nullable = true)

In [12]:
dfg.show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows

In [13]:
names = dfg.select(dfg.first_name, dfg.last_name)

In [ ]:
names.show(5)

In [ ]:
maths_topper = dfg.filter(dfg.math_score > 80).select(dfg.email, dfg.math_score)

In [ ]:
maths_topper.show(5)

In [ ]:
male_students = dfg.where(dfg.gender=='male').select(dfg.first_name, dfg.last_name, dfg.gender)

In [ ]:
male_students.show(5)

In [ ]:
dfg.select(dfg.career_aspiration).distinct().show()

In [14]:
import pyspark.sql.functions as F

In [15]:
dfg.withColumn("full_name", F.concat(dfg.first_name, dfg.last_name)).show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+----------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|       full_name|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+----------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|       PaulCasey|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|DanielleSandoval|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|     TinaAndrews|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|       TaraClark|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|   AnthonyCampos|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+----------------+
only showing top 5 rows

In [17]:
dfg.show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows

In [18]:
dfg.na.drop().show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows

In [19]:
dfg.na.drop(thresh=3).show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows

In [20]:
#drop rows only if all column values are null
dfg.na.drop(how='all').show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows

In [21]:
#drop only if specific column has null values
dfg.na.drop(subset=['gender']).show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows

In [22]:
dfg.na.fill('na', subset=['gender']).show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows

In [23]:
from pyspark.sql.functions import mean

In [25]:
dfg.na.fill(dfg.select(mean(dfg['absence_days'])).collect()[0][0], ['absence_days']).show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows

In [33]:
dfg.filter(dfg.email.isNull()).show(5)

+---+----------+---------+-----+------+-------------+------------+--------------------------+-----------------------+-----------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|email|gender|part_time_job|absence_days|extracurricular_activities|weekly_self_study_hours|career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+-----+------+-------------+------------+--------------------------+-----------------------+-----------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
+---+----------+---------+-----+------+-------------+------------+--------------------------+-----------------------+-----------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+

In [35]:
from pyspark.sql.functions import (dayofmonth, year, hour, dayofyear, month, weekofyear, format_number, date_format)

In [36]:
dfg.withColumnRenamed('part_time_job', 'part_time_gig').show(5)

+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
| id|first_name|last_name|               email|gender|part_time_gig|absence_days|extracurricular_activities|weekly_self_study_hours| career_aspiration|math_score|history_score|physics_score|chemistry_score|biology_score|english_score|geography_score|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
|  1|      Paul|    Casey|paul.casey.1@gsli...|  male|        False|           3|                     False|                     27|            Lawyer|        73|           81|           93|             97|           63|           80|             87|
|  2|  Danielle| Sandoval|danielle.sandoval...|female|        False|           2|                     False|                     47|            Doctor|        90|           86|           96|            100|           90|           88|             90|
|  3|      Tina|  Andrews|tina.andrews.3@gs...|female|        False|           9|                      True|                     13|Government Officer|        81|           97|           95|             96|           65|           77|             94|
|  4|      Tara|    Clark|tara.clark.4@gsli...|female|        False|           5|                     False|                      3|            Artist|        71|           74|           88|             80|           89|           63|             86|
|  5|   Anthony|   Campos|anthony.campos.5@...|  male|        False|           5|                     False|                     10|           Unknown|        84|           77|           65|             65|           80|           74|             76|
+---+----------+---------+--------------------+------+-------------+------------+--------------------------+-----------------------+------------------+----------+-------------+-------------+---------------+-------------+-------------+---------------+
only showing top 5 rows